@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*,::before,::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bebas Neue', cursive;
  height: 100vh;
}

/**/ variables
:root{
  --dark-c: #444;
  --grey-c: #f3f3f3;
  --bg-c: #eee;
  --border-radius: 25px;
}
